@tailwind base;
@tailwind components;
@tailwind utilities;

/* Improve image rendering quality for logos and images with gradients */
img {
  image-rendering: -webkit-optimize-contrast;
  image-rendering: auto;
  -ms-interpolation-mode: bicubic;
  backface-visibility: hidden;
  transform: translateZ(0);
}
